@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p><a href="ListCategories/Index">Настройка списков </a>.</p>
    <p><a href="SearchPatients/Index">Поиск пациентов </a>.</p>
</div>
