@model IEnumerable<Reference_Aids.Models.ListQualitySerum>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutList";
}
<div>
    <form asp-controller="InputPatients" asp-action="AddFile" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Загрузить" />
    </form>
</div>