@model Reference_Aids.ViewModels.ListForResultImport
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<b>
<div class="container">
    <p>Удачно</p>
    @foreach (var item in Model.SuccessList)
    {
        <div class="row g-0">
            <div class="col-1"><input disabled type="text" class="form-control " value="@item.NumIfa"></div>
            <div class="col"><input disabled type="text" class="form-control col" value="@item.Com"></div>
        </div>
    }
    <b>
    <p>Ошибки</p>
    @foreach (var item in Model.Error)
    {
        <input disabled type="text" class="form-control" value="@item">
    }
</div>